.projects{
    .title{
        margin-left: 50px;
        margin-top: 8rem;
        color: white;
        font-size: 4rem;
        font-family: $main-font;
        font-weight: normal;
        transform: translateY(-50%);

        span{
            background: $label-color;
        }

        @media screen and (max-width: 500px){
           font-size: 3.8rem;
        }
    }

  .images-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    

    img{
        width: 170px;
        height: 100vh;
        margin: 30px 10px;
    }

    .img-1{
        transform: translateY(200px);
    }
    .img-2{
        transform: translateY(150px);
    }
    .img-3{
        transform: translateY(100px);
    }

    @media screen and (max-width:680px){
        .img-1{
            margin-bottom: 6rem;
        }
        .img-2{
            margin-bottom: 6rem;
        }
        .img-3{
            margin-bottom: 6rem;
        }
    }

    @media screen and (max-width: 500px){
       margin-left: 40px;
    }
  }
}